@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Wrapper{
  height: 30rem;
  width: 30rem;
  background-color: rgba(173, 172, 172, 0.447);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .scoreboard{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .picks{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .status{
    font-size: xx-large;
  }
}


.innerWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.options{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover{
    color: rgb(109, 106, 107);
  }

  &:active{
    color: rgb(219, 0, 73);
  }

  & > *{
    font-size: 60px;
    display: block;
  }
}

